@charset "UTF-8";

/*  #E3CCE3
    #EDD5E1
    #D6D6D6
    #EDD9D5
    #E3D3CC
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #525252;
}
body {
    background-color: #D6D6D6;
}
header {
    background-color: white;
    padding: 10px;
    margin: 0px 15px 25px 15px;
    height: 170px;
    border: 1 solid #525252;
    box-shadow: 3px 3px 10px #525252c1;
    
}
header > ul  {
    text-align: center;
    width: 100vw;
    padding-bottom: 10px;
    height: 50px;
}
header > ul li {
    display: inline;
    margin: 7px;
   
}
header > ul li:hover {
    border-bottom:1px solid red;
    
}
header > ul a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.733);
}
header > ul a:hover {
    color: red;
}
header > p {
    padding-top: 0px;
    font-size: 1.1em;
    display: block;
    padding-bottom: 80px;
}
main#prince {

    position: relative;
    background-color: white;
    height: 100vh;
    width: 90vw;
    margin: auto;
}
main#prince {
    margin-bottom: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 0px 10px #787575a0;
}
main#prince > p {
    text-align: center;
    font-size: 1em;
    padding: 13px 10px 13px;
}
section#prince1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blueviolet;
    height: 80vh;
    width: 70vw;
    
}
section#prince1 {
    background-image: url('../imagens/pexels-sora-shimazaki-5926393.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}
footer {
    background-color: white;
} 
footer > p {
    padding: 10px;
    text-align: center;
}
/*
  inicio da area de web desing
*/
main#web {
    
    background-color: #D6D6D6;
    padding: 10px;
}
article#web1 {
    
    background-color: white;
    padding: 10px;
    margin: auto;
}
#web1 > .dev {
    border-bottom: 3px dotted rgba(106, 136, 79, 0.963);
    color: rgba(72, 69, 69, 0.966);
    padding-bottom: 10px;
    font-size: 1.4em;
}
#web1 > .desig{
    text-align: justify;
    padding: 10px;
    line-height: 1.5em;
    font-size: 1.3em;
}
figure {
    float: right;
}
figure > figcaption  {
    text-align: center;
}
#web1 > .stron {
    font-size: 1.3em;
    background-image: linear-gradient(to right,  #d6d6d6, transparent);
    display: block;
}
#tex {
    float: left;
    background-image: url('../imagens/respons.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 120px;
    width: 127px;
}
#ter {
    float: right;
    background-image: url('../imagens/escaniab.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 150px;
    width: 200px;
}
#true {
    float: left;
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 150px;
    width: 150px;
}
#terça {
    float: right;
    background-image: url('../imagens/veloci.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height:167px;
    width: 170px;
}
/*
  inicio da area de progração web
*/
#prog {
    background-color: white;
    height: 200px;
    width: 200px;
    float: right;
}
#prog1 {
    background-color: white;
    height: 2635px;
    width: 75vw;
}
.ter {
    text-align: justify;
    padding: 10px;
    line-height: 2em;
    font-size: 1.3em;
    
}